<header>
  <svg width="400" height="150">
    <text x="159" y="110" font-family="Rouge Script" font-size="96">nterlude</text>
    <text x="100" y="110" font-family="Rouge Script" font-size="96" fill="#f78cb0">I</text>
    <!-- <text x="100" y="110" font-family="Rouge Script" font-size="96">Inter&thinsp;ude</text> -->
    <!-- <text x="258" y="110" font-family="Rouge Script" font-size="96" fill="#f78cb0">l</text> -->
    <path
      stroke="#f78cb0"
      stroke-width="3"
      fill="none"
      d="M 123 83
         L 131 86
         L 138 86
         L 144 83
         L 149 79
         L 151 74
         L 150 69
         L 147 66
         L 142 65
         L 137 66
         L 133 69
         L 132 74
         L 135 77"
    />

    <!-- <circle r="2" cx="125" cy="84" fill="red"></circle> -->
    <!-- <circle r="2" cx="131" cy="86" fill="red"></circle> -->
    <!-- <circle r="2" cx="138" cy="86" fill="red"></circle> -->
    <!-- <circle r="2" cx="144" cy="83" fill="red"></circle> -->
    <!-- <circle r="2" cx="149" cy="79" fill="red"></circle> -->
    <!-- <circle r="2" cx="151" cy="74" fill="red"></circle> -->
    <!-- <circle r="2" cx="150" cy="69" fill="red"></circle> -->
    <!-- <circle r="2" cx="147" cy="66" fill="red"></circle> -->
    <!-- <circle r="2" cx="142" cy="65" fill="red"></circle> -->
    <!-- <circle r="2" cx="137" cy="66" fill="red"></circle> -->
    <!-- <circle r="2" cx="133" cy="69" fill="red"></circle> -->
    <!-- <circle r="2" cx="132" cy="74" fill="red"></circle> -->
    <!-- <circle r="2" cx="135" cy="77" fill="red"></circle> -->
  </svg>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/bios">Bios</a></li>
      <li><a href="/listen">Listen</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
</header>
