@import url('https://fonts.googleapis.com/css?family=Rouge+Script');
@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  width: 960px;
  margin: 1em auto;
  font-family: 'Raleway';
}

header, footer {
  text-align: center;
}

header #name {
  font-family: 'Rouge Script';
  font-size: 96px;
  user-select: none;
  cursor: default;
  z-index: 2;
}

header svg {
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: center;
  margin-bottom: 3em;
}

nav ul {
  display: flex;
  justify-content: space-between;
  width: 800px;
}

nav li {
  display: block;
  margin: 0 3em;
  font-family: 'Raleway';
  font-size: 20px;
}

nav a {
  display: block;
  border-bottom: 1px solid #bbb;
  text-decoration: none;
  line-height: 1em;
  color: black;
}

footer {
  margin-top: 3em;
  font-family: 'Raleway';
  font-size: 11px;
}

.content {
  font-family: 'Raleway';
  font-size: 16px;
}

.picture {
  float: left;
  width: 500px;
  height: 300px;
  margin-bottom: 2em;
  margin-right: 2em;
  background-color: #f78cb0;
}
